{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a
        class="btn btn-primary btn-lg px-4 mb-2"
        href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}guide/intro/"
        role="button"
        >{{ i18n "get-started" }}</a
      >
      <p class="meta">
        Open-source Apache-2.0 Licensed.
        <a href="https://github.com/go-olive/olive"
          >GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a
        >
      </p>
    </div>
  </div>
</section>
{{ end }} {{ define "sidebar-prefooter" }} {{ if true }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">云原生</h2>
        <p>
          容器化部署<br />
          跨平台开发
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">强大引擎</h2>
        <p>
          出色的并发性能<br />
          极低的内存占用
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">易于使用 ⚡️</h2>
        <p>一条命令，只需三秒，即刻开录 <br />从此不再错过任何直播</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">私人订制</h2>
        <p>
          提供众多定制化选项<br />
          想你所想，及你所及
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">黑科技</h2>
        <p>
          内置 biliup/streamlink/yt-dlp 模块<br />
          众人拾柴火焰高，一人独自撑断腰
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">掌握核心技术</h2>
        <p>
          所有核心模块如监控调度器，视频下载器，平台爬虫等皆原创，不被别人卡脖子
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }} {{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">{{- .Content -}}</div>
  </div>
</section>
{{ end }}
